<ion-content>
  <div class="card">
    <ion-title>
      Etat de la batterie
    </ion-title>
    <ion-text>{{ systemBattery + "%" }}</ion-text>
  </div>
  <div class="card">
    <ion-title>
      Activer/Désactiver le Système
    </ion-title>
    <ion-label *ngIf="systemActivated">Système Activé</ion-label>
    <ion-label *ngIf="!systemActivated">Système Désactivé</ion-label>
    <br>
    <ion-toggle color="success" [(ngModel)]="systemActivated" (ngModelChange)="toggleSystemStatus()"></ion-toggle>
    <ion-text color="danger">{{ systemError }}</ion-text>
  </div>
  </ion-content>
